include layout

h3 Se connecter
form(action='/users/auth/', method='POST')
  p Email
  input(type='email', name='email')
  p Mot de passe
  input(type='password', name='password')
  input(type='submit')
