doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    include nav
    button#logout-btn Déconnexion

    
    script.
        document.getElementById('logout-btn').addEventListener('click', function() {
           
            logout();
        });

        function logout() {
           
            localStorage.removeItem('token');

            // Rediriger l'utilisateur vers la page de connexion ou une autre page appropriée
            window.location.href = '/'; // Redirection vers la page de connexion
        }


    block content
