include layout

h2 Gestion des utilisateurs
h2
  a(href='/catways') Gestion des catways
  a(href='/users/auth/users') Gestion des utilisateurs
  a(href='/catways/reservations') Gestion des réservations