<%- include('layout.ejs') %>
    <h1>Bienvenue sur l'interface de réservation du port de plaisance</h1>
    <form action="/users/auth/" method="POST">
        <p>Email</p>
        <input type="email" name="email">
        <p>Mot de passe</p>
        <input type="password" name="password">
        <input type="submit">
    </form>
</body>

</html>